# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Excel files
*.xlsx
*.xls
*.csv

# Local data
data/
downloads/

# Virtual environments
venv/
.venv/
env/


# OS files
.DS_Store
Thumbs.db